<template>
  <q-page class="column justify-center content-center">
    <q-card style="width: 300px">
      <q-card-section class="text-center text-h6 bg-light-blue text-white">
        登&emsp;录
      </q-card-section>

      <q-separator />

      <q-card-section>
        <div>用户名：</div>
        <q-input v-model="username" outlined dense />
      </q-card-section>

      <q-card-section>
        <div>密&emsp;码：</div>
        <q-input v-model="password" type="password" outlined dense />
      </q-card-section>

      <q-separator />

      <q-card-actions calss="row" align="center">
        <q-btn class="col-grow" color="primary" to="/tasks">学生登录</q-btn>
        <q-btn class="col-grow" color="secondary" to="/tasks">教师登录</q-btn>
      </q-card-actions>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "PageIndex",
  setup() {
    return {
      username: ref(""),
      password: ref(""),
    };
  },
});
</script>

<style scoped>
</style>
