<template>
  <q-page class="column items-center">
    <q-table
      title="评价表"
      :columns="columns"
      :rows="rows"
      row-key="name"
      separator="cell"
      :pagination="{ rowsPerPage: 8 }"
      class="fit"
    >
      <template v-slot:header="props">
        <q-tr :props="props">
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
            style="font-size: 16px"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template>

      <template v-slot:body-cell="props">
        <q-td :props="props">
          <p class="no-margin" v-if="props.col.name === 'name'">
            {{ props.value }}
          </p>
          <q-select
            class="text-subtitle1"
            v-else
            v-model="rows[props.rowIndex][props.col.name]"
            :options="['待评', 'S', 'A', 'B', 'C']"
            :bg-color="colors[rows[props.rowIndex][props.col.name]]"
            dense
            filled
            square
          />
        </q-td>
      </template>
    </q-table>

    <q-btn class="q-ma-lg" color="primary" to="/results"> 提交评价数据 </q-btn>
  </q-page>
</template>

<script>
import { ref } from "vue";
import students from "../assets/students.json";

export default {
  setup() {
    const columns = [
      { name: "name", field: "name", label: "姓名", align: "center" },
      { name: "score1", field: "score1", label: "资料查询", align: "center" },
      { name: "score2", field: "score2", label: "工单填写", align: "center" },
      { name: "score3", field: "score3", label: "数据研判", align: "center" },
      { name: "score4", field: "score4", label: "工具使用", align: "center" },
      { name: "score5", field: "score5", label: "团队协作", align: "center" },
      { name: "score6", field: "score6", label: "7S素养", align: "center" },
      { name: "score7", field: "score7", label: "技能操作", align: "center" },
      { name: "score8", field: "score8", label: "理论考评", align: "center" },
      { name: "score9", field: "score9", label: "学习兴趣", align: "center" }
    ];

    const colors = {
      待评: "grey",
      S: "green",
      A: "blue",
      B: "orange",
      C: "red",
    };

    return {
      columns,
      rows: ref(students),
      colors,
    };
  },
};
</script>
