<template>
  <q-page>
    <q-list class="text-subtitle1" bordered separator>
      <q-item clickable v-ripple v-for="task in tasks" :key="task.id" >
        <q-item-section>
          {{ task.id }}&emsp;{{ task.name }}
        </q-item-section>
        <q-item-section style="flex-direction: row;" avatar>
          <q-btn style="margin-right: 10px;" color="primary" to="/score">评价</q-btn>
          <q-btn color="secondary" to="/results2">查看</q-btn>
        </q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
import tasks from '../assets/tasks.json'

export default {
  setup () {
    return { tasks }
  }
}
</script>
