<template>
  <q-layout view="hhh lpr fff">
    <q-header>
      <q-toolbar>
        <q-icon name="img:icons/favicon-32x32.png" size="32px"/>
        <q-toolbar-title>维修技师能力评价系统</q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "MainLayout",
});
</script>
